
:javascript 
  $(document).ready(disableCurrencySelect)

.row
  .col-xs-12
    .panel
      .panel-heading.panel-info
        %h1 Menus
      .panel-body
        #menus
          #week
            = link_to date: @date.prev_week do
              %i.fa.fa-angle-double-left
            %i.fa.fa-calendar{'aria-hidden'=>"true"}
            = text_of_week(@date)
            = link_to date: @date.next_week do
              %i.fa.fa-angle-double-right    
          .table-responsive              
            = calendar(@date, @options)  do |date| 
              = link_to date.day, orders_path(date: date), remote: true 

    -if current_user.is_lunches_admin?                  
      .panel.cur-menu
        .panel-heading.panel-info
          %h1 
            Menu on 
            .fa.fa-asterisk
            #{Date.today.strftime("%A %F")}
            .fa.fa-asterisk
        .panel-body
          =render 'currency_select'
          #menu-today                                            
            -@course_type.each do |ct| 
              .table-responsive
                %table.table.table-bordered
                  %thead
                    %tr
                      %th.name 
                        =ct.name      
                      %th.image image
                      %th.cost 
                        cost&nbsp
                        .currency_name{style: "float:right;"} (#{@currency_name})
                      %th.delete delete
                  %tbody{id: "menu-index#{ct.id}"} 
                    =render 'index', course_type: ct
            

#menu-modal.modal.fade
#order-modal.modal.fade
