.row
  .col-xs-12
    .panel
      .panel-heading.panel-info
        %h1 Menus
      .panel-body
        #menus
          #week
            = link_to date: @date.prev_week do
              %i.fa.fa-angle-double-left
            %i.fa.fa-calendar{'aria-hidden'=>"true"}
            = text_of_week(@date)
            = link_to date: @date.next_week do
              %i.fa.fa-angle-double-right    
          .table-responsive              
            = calendar(@date, @options)  do |date| 
              = date.day

    -if current_user.is_lunches_admin?                  
      .panel.cur-menu
        .panel-heading.panel-info
          %h1 
            Menu on 
            .fa.fa-asterisk
            #{Date.today.strftime("%A %F")}
            .fa.fa-asterisk
        .panel-body
          #menu_today
            .currency_select
              %select#currency_select
                -@currency_type.each do |currency_type|
                  %option{value: currency_type.id}
                    =currency_type.name  
                                           
            -@course_type.each do |course_type| 
              .table-responsive
                %table.table.table-bordered
                  %thead
                    %tr
                      %th.name 
                        =course_type.name      
                      %th.image image
                      %th.cost cost (#{@currency_name})
                      %th.delete delete
                  %tbody
                    -if @menus_by_course_type[course_type.id]
                      -@menus_by_course_type[course_type.id].each do |menu|
                        %tr
                          %td.name
                            =menu.name
                          %td.image
                          %td.cost
                            ="%.2f" % menu.cost
                            
                          %td.delete
                            =link_to 'Delete', menu, method: :delete, data: { confirm: 'Are you sure?' }
                / .input_fom
                /   =simple_form_for @menus_by_course_type[course_type_id] do |menu|
                /     =menu.input :name
                /     =menu.input :cost
                /     =menu.button :submit

    

        